<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_Commerce_Project</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!--- google fonts Link ---->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!---- icon cdn link---->

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <!--- owl carsoul ---->

</head>
<body>
    <header>

        <nav>

            <img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/logo1-free-img.png" class="logo">

            <ul class="menu-bar-side">
                <li>everything</li>
                <li>women</li>
                <li>men</li>
                <li>accessories</li>
            </ul>

            <ul class="menu-bar">
                <li>about</li>
                <li>contect us</li>
                @*<li>&#36;0.00</li>*@
                <li>&#36;<span id="cart-total">0.00</span></li>


                <li class="cart" id="cart">
                    <i class='fas fa-shopping-cart'></i>
                    <span class="cart-count" id="cart-count" >0</span>
               
                </li>


                @*  <li>
                    <i class='fas fa-shopping-cart '></i>
                    <ul id="cart-items"></ul>

                    </li>*@
                <li><i class='fas fa-user-alt'></i></li>
            </ul>

            <i class="fa fa-bars"></i>
        </nav>



        <div class="content">

            <h2 class="heading">
                Raining Offers For Hot Summer!
            </h2>

            <h4>
                25% Off On All Products
            </h4>

            <button class="shopNow">
                shop now
            </button>
            <button class="findMore">
                find more
            </button>

        </div>

    </header>
    <!--- end header --->



    <div class="cart-container">
        <div class="shopping-cart">
            <div class="shopping-cart-header">
                <i class="fa fa-shopping-cart cart-icon"></i><span class="cart-badge" id="cardcartcount">0</span>
                <div class="shopping-cart-total">
                    <span class="lighter-text" id="cardCartTotal">Total:</span>
                    <span class="main-color-text"></span>
                </div>
            </div> <!--end shopping-cart-header -->
            <div class="shopping -cart-content">


                <ul class="shopping-cart-items" id="cart-items">

                    @*<li class="cart-body">
                        <img class="cart_img" src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2021/03/sports-shoe3-400x400.jpg" />
                        <span class="item-name">Sony </span>
                        <span class="item-price">$1.50000</span>
                        <span class="item-quantity">Quantity: 01</span>
                        <button class="remove-button"> <i class="fas fa-times-circle"></i> </button>
                    </li>*@

                </ul>


            </div>
            <a href="#" class="button">Checkout</a>
        </div> <!--end shopping-cart -->
    </div> <!--end container -->



    @RenderBody()


    <footer>

        <div class="offer-info">
            SALE UP TO 70% OFF FOR ALL CLOTHES & FASHION ITEMS, ON ALL BRANDS.
        </div>
        <!--- offer-info ---->


        <div class="footer-info">

            <div class="container">
                <img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/logo@2x-free-img-120x40.png">

                <h2>The best look anytime, anywhere.</h2>
            </div>
            <div class="container">

                <h5>For Her</h5>
                <ul>
                    <li>Women Jeans</li>
                    <li>Tops and Shirts</li>
                    <li>Women Jackets</li>
                    <li>Heels and Flats</li>
                    <li>Women Accessories</li>
                </ul>
            </div>
            <div class="container">

                <h5>For Him</h5>
                <ul>
                    <li>Men Jeans</li>
                    <li>Men Shirts</li>
                    <li>Men Shoes</li>
                    <li>Men Accessories</li>
                    <li>Men Jackets</li>
                </ul>
            </div>
            <div class="container">

                <h5>Subscribe</h5>

                <form>
                    <input type="text" placeholder="Your email address..." class="name">
                    <input type="submit" class="submit" value="Subscribe">
                </form>
            </div>

        </div>
        <!--- footer-info ---->

        <div class="footer-copyright">

            <div class="copyright">
                Copyright © 2023 Brandstore. Powered by Brandstore.
            </div>

            <div class="social">
                <i class="fa fa-facebook-f"></i>
                <i class="fa fa-youtube-play"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-google"></i>
            </div>

        </div>
        <!--- footer-copyright ---->

    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
